@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
}

@model List<Dependent>

<a href="/Dependant/Add">Add</a>

<h6>@TempData["AddMsg"]</h6>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>sex</th>
            <th>birthdate</th>
            <th>Relationship</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var dependant in Model)
        {
            <tr>
                <td>@(index++)-</td>
                <td>@dependant.Name</td>
                <td>@dependant.Sex</td>
                <td>@dependant.BirthDate</td>
                <td>@dependant.Relationship</td>
                <td><a href="/Dependant/Edit/@dependant.Name">Edit</a></td>
                <td><a href="/Dependant/Delete/@dependant.Name">Delete </a></td>

            </tr>
        }
    </tbody>
</table>
