@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Employee
<h1>Edit Employee :</h1>

<form action="/Employee/EditDB" class="form-inline">

    <input id="SSN" name="SSN" type="text" value="@Model.SSN" hidden />

    <label>First Name</label>
    <input id="Fname" name="Fname" type="text" value="@Model.Fname" class="form-control" />

    <label>Last Name</label>
    <input id="Lname" name="Lname" type="text" value="@Model.Lname" class="form-control" />

    <label>Minit</label>
    <input id="Minit" name="Minit" type="text" value="@Model.Minit" class="form-control" />

    <label>Sex</label>
    @{
        if (Model.Sex == "Male")
        {
            <label>Male</label>
            <input id="Male" name="Sex" type="radio" value="Male" checked class="form-check-input"  />
            <label>Female</label>
        <input id="Female" name="Sex" type="radio" value="Female" class="form-check-input" />
        }
        else
        {
            <label>Male</label>
            <input id="Male" name="Sex" type="radio" value="Male" class="form-check-input" />
            <label>Female</label>
            <input id="Female" name="Sex" type="radio" value="Female" checked class="form-check-input" />
        }
    }
    <br />

    <label>Address</label>
    <input id="Address" name="Address" type="text" value="@Model.Address" class="form-control" />

    <label>Salary</label>
    <input id="Salary" name="Salary" type="number" value="@Model.Salary" class="form-control" />

    <label>Birth Date</label>
    <input id="BirthDate" name="BirthDate" type="datetime" value="@Model.BirthDate" class="form-control" />

    <label>Supervisor</label>
    <select id="SupervisorSSN" name="SupervisorSSN" class="custom-select my-1 mr-sm-2">
        <option value="">Choose instructor</option>
        @foreach (var emp in ViewBag.emp)
        {
            @if (emp.SSN == Model.SSN)
            {
                <option value="@emp.SSN" selected>@(emp.Fname + " " + emp.Lname)</option>
            }
            else
            {
                <option value="@emp.SSN">@(emp.Fname + " " + emp.Lname)</option>
            }


        }
    </select>
    <br />
    <input type="submit" value="Edit" class="btn btn-primary my-1" />
</form>

