@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card" >
   
    <div class="card-body">
        <h5 class="card-title"> @(Model.Fname + " " + Model.Lname + " " + Model.Minit)</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Gender @Model.Sex</li>
        <li class="list-group-item">Address @Model.Address</li>
        <li class="list-group-item">salary: @Model.Salary</li>
        <li class="list-group-item">BirthDate: @Model.BirthDate</li>
    </ul>
    <div class="card-body">
        <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.SSN" class="card-link">Details</a>
        
    </div>
</div>
